body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: relative;
}

#titolo-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#logo-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

#logo-catalogo {
    max-height: 250px;
}

#banner-catalogo {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

main {
    padding: 20px;
}

#libri {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px); /* Modifica: Aumenta la larghezza delle colonne */
    grid-template-rows: auto; /* Modifica: Definisce l'altezza delle righe come automatica */
    gap: 20px; /* Modifica: Aumenta la spaziatura tra gli elementi */
}

.section-libro {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.section-libro img {
    width: 150px; /* Modifica: Assicura che le immagini occupino l'intera larghezza della colonna */
    height: 225px; /* Modifica: Imposta un'altezza fissa per le immagini */
    object-fit: cover;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.buy-now-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.info-libro {
    display: flex;
    width: 800px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
}

.info-libro img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    object-fit: contain;
}

.info-libro div {
    flex: 1;
}

.info-libro h3 {
    font-size: 16px;
}

.info-libro p {
    font-size: 14px;
}

.section-libro h3 {
    font-size: 10px;
}

#info-container {
    margin-top: 20px;
}

.info-libro .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.section-libro p {
    font-size: 10px;
}

.section-libro p b {
    font-size: 12px;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    #logo-catalogo {
        max-height: 100px;
    }

    #banner-catal-00 {
        max-height: 200px;
    }

    #libri {
        grid-template-columns: repeat(auto-fit, 80px);
    }

    .section-libro img {
        width: 80px;
        height: 120px;
    }

    .info-libro {
        flex-direction: column;
        width: 100%;
    }

    .info-libro img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #titolo-container h1 {
        font-size: 20px;
    }

    #titolo-container h2 {
        font-size: 16px;
    }
}